<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{users/layouts/layouts}">
<body>

	<div class="container" layout:fragment="content">
		<div class="row container" id="wrapper">
			<div class="halim-panel-filter">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-6">
							<div class="yoast_breadcrumb hidden-xs">
								<span><span><a href="danhmuc.php">Phim hay</a> » <span><a
											href="danhmuc.php">Mỹ</a> » <span class="breadcrumb_last"
											aria-current="page" th:text="${movie.title}"></span></span></span></span>
							</div>
						</div>
					</div>
				</div>
				<div id="ajax-filter" class="panel-collapse collapse"
					aria-expanded="true" role="menu">
					<div class="ajax"></div>
				</div>
			</div>
			<main id="main-contents" class="col-xs-12 col-sm-12 col-md-8">
				<section id="content" class="test">
					<div class="clearfix wrap-content">

						<div class="halim-movie-wrapper">
							<div class="title-block">
								<div id="bookmark" class="bookmark-img-animation primary_ribbon"
									data-id="38424">
									<div class="halim-pulse-ring"></div>
								</div>
								<div class="title-wrapper" style="font-weight: bold;">
									Bookmark</div>
							</div>
							<div class="movie_info col-xs-12">
								<div class="movie-poster col-md-3">
									<img class="movie-thumb"
										th:src="@{${'https://image.tmdb.org/t/p/w500' + movie.posterPath}}"
										alt="${movie.title}">
									<div class="bwa-content">
										<div class="loader"></div>
										<a th:href="@{'/playmovie/' + ${movie.id}}" class="bwac-btn"> <i
											class="fa fa-play"></i>
										</a>
									</div>
								</div>
								<div class="film-poster col-md-9">
									<h1 class="movie-title title-1"
										style="display: block; line-height: 35px; margin-bottom: -14px; color: #ffed4d; text-transform: uppercase; font-size: 18px;"
										th:text="${movie.title}"></h1>
									<h2 class="movie-title title-2" style="font-size: 12px;"
										th:text="${movie.releaseDate}"></h2>
									<ul class="list-info-group">
										<li class="list-info-group-item"><span>Trạng Thái</span>
											: <span class="episode" th:text="${movie.status}"></span></li>
										<!-- <span class="quality" ></span> quality là css cho HD -->
										<li class="list-info-group-item"><span>Bình Chọn
												AVG </span> : <span class="imdb" th:text="${movie.voteAverage}"></span></li>
										<li class="list-info-group-item"><span>Phiếu Bầu </span>
											: <span class="imdb" th:text="${movie.voteCount}"></span></li>
										<li class="list-info-group-item"><span>Thời lượng</span>
											: <span th:text="${movie.runtime}"></span> Phút</li>
										<li class="list-info-group-item"><span>Thể loại</span> :
											<span th:each="genre,iterStat : ${movie.genres}"> <a
												th:href="@{'/search?query=' + ${genre.name}}">[[${genre.name}]]</a>
												<!-- kiểm tra nếu tới phần tử cuối cùng rồi thì bỏ dấu phẩy cuối cùng đi -->
												<span th:if="${not iterStat.last}">, </span> <span
												th:if="${iterStat.last} and ${hasNextGenre}"> và </span>
										</span></li>
										<!-- Còn nếu làm theo cách sau thì phần tử cuối cùng dấu phẩy sẽ không được loại bỏ
											<li class="list-info-group-item">
										  <span>Thể loại</span> :
										  <span th:each="genre,iter : ${movie.genres}">
										    <span th:text="${genre.name}"></span>
										    <span th:if="${not iter.last}">, </span>
										  </span>
										</li>
																					
										 -->

										<li class="list-info-group-item"><span>Quốc gia</span> :
											<a href="" rel="tag" th:text="${movie.originalLanguage}"></a></li>
										<li class="list-info-group-item"><span>Công ty sản
												xuất</span> : <span
											th:each="company,iterStat : ${movie.productionCompanies}">
												<span th:text="${company.name}"></span> <span
												th:if="${not iterStat.last}">, </span>
										</span></li>

										<li class="list-info-group-item last-item"
											style="-overflow: hidden; -display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-flex: 1; -webkit-box-orient: vertical;"><span>Diễn
												viên</span> : <a href="" rel="nofollow" title="C.C. Smiff">C.C.
												Smiff</a>, <a href="" rel="nofollow" title="David Harbour">David
												Harbour</a>, <a href="" rel="nofollow" title="Erin Jameson">Erin
												Jameson</a>, <a href="" rel="nofollow" title="Ever Anderson">Ever
												Anderson</a>, <a href="" rel="nofollow" title="Florence Pugh">Florence
												Pugh</a>, <a href="" rel="nofollow" title="Lewis Young">Lewis
												Young</a>, <a href="" rel="nofollow" title="Liani Samuel">Liani
												Samuel</a>, <a href="" rel="nofollow" title="Michelle Lee">Michelle
												Lee</a>, <a href="" rel="nofollow" title="Nanna Blondell">Nanna
												Blondell</a>, <a href="" rel="nofollow" title="O-T Fagbenle">O-T
												Fagbenle</a></li>
									</ul>
									<div class="movie-trailer hidden"></div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div id="halim_trailer"></div>
						<div class="clearfix"></div>
						<div class="section-bar clearfix">
							<h2 class="section-title">
								<span style="color: #ffed4d">Nội dung phim</span>
							</h2>
						</div>
						<div class="entry-content htmlwrap clearfix">
							<div class="video-item halim-entry-box">
								<article id="post-38424" class="item-content">
									Phim <a href="https://phimhay.co/goa-phu-den-38424/" th:text="${movie.title}"></a> - <span th:text="${movie.releaseDate}"></span> - <span th:text="${movie.originalLanguage}"></span>:
									<p><span th:text="${movie.title}"></span> &#8211; <span th:text="${movie.overview}"></span> </p>
									<h5>Từ Khoá Tìm Kiếm:</h5>
									<ul>
										<li>black widow vietsub</li>
										<li>Black Widow 2021 Vietsub</li>
										<li>phim black windows 2021</li>
										<li>xem phim black windows</li>
										<li>xem phim black widow</li>
										<li>phim black windows</li>
										<li>goa phu den</li>
										<li>xem phim black window</li>
										<li>phim black widow 2021</li>
										<li>xem black widow</li>
									</ul>
								</article>
							</div>
						</div>
					</div>
				</section>
				<section class="related-movies">
					<div id="halim_related_movies-2xx" class="wrap-slider">
						<div class="section-bar clearfix">
							<h3 class="section-title">
								<span>CÓ THỂ BẠN MUỐN XEM</span>
							</h3>
						</div>
						<div id="halim_related_movies-2"
							class="owl-carousel owl-theme related-film">
							<article class="thumb grid-item post-38498" th:each="item,state : ${movies}">
								<div class="halim-item">
									<a class="halim-thumb" th:href="@{'/details/' + ${item.id}}"
										title="Đại Thánh Vô Song">
										<figure>
											<img class="lazy img-responsive"
											th:src="@{${'https://image.tmdb.org/t/p/w500' + item.backdropPath}}"
												alt="Đại Thánh Vô Song" title="Đại Thánh Vô Song">
										</figure> <span class="status">HD</span><span class="episode"><i
											class="fa fa-play" aria-hidden="true"></i>Vietsub</span>
										<div class="icon_overlay"></div>
										<div class="halim-post-title-box">
											<div class="halim-post-title ">
												<p class="entry-title" th:text="${item.title}"></p>
												<p class="original_title">Monkey King: The One And Only</p>
											</div>
										</div>
									</a>
								</div>
							</article>
						
					
							
							

						</div>
						<script>
                        jQuery(document).ready(function($) {				
                        var owl = $('#halim_related_movies-2');
                        owl.owlCarousel({loop: true,margin: 4,autoplay: true,autoplayTimeout: 4000,autoplayHoverPause: true,nav: true,navText: ['<i class="hl-down-open rotate-left"></i>', '<i class="hl-down-open rotate-right"></i>'],responsiveClass: true,responsive: {0: {items:2},480: {items:3}, 600: {items:4},1000: {items: 4}}})});
                     </script>
					</div>
				</section>
			</main>
				<aside id="sidebar" class="col-xs-12 col-sm-12 col-md-4">
				<div id="halim_tab_popular_videos-widget-7"
					class="widget halim_tab_popular_videos-widget">
					<div class="section-bar clearfix">
						<div class="section-title">
							<span>Top Views</span>
							<ul class="halim-popular-tab" role="tablist">
								<li role="presentation" class="active"><a class="ajax-tab"
									role="tab" data-toggle="tab" data-showpost="10"
									data-type="today">Day</a></li>
								<li role="presentation"><a class="ajax-tab" role="tab"
									data-toggle="tab" data-showpost="10" data-type="week">Week</a>
								</li>
								<li role="presentation"><a class="ajax-tab" role="tab"
									data-toggle="tab" data-showpost="10" data-type="month">Month</a>
								</li>
								<li role="presentation"><a class="ajax-tab" role="tab"
									data-toggle="tab" data-showpost="10" data-type="all">All</a></li>
							</ul>
						</div>
					</div>
					<section class="tab-content">
						<div role="tabpanel"
							class="tab-pane active halim-ajax-popular-post">
							<div class="halim-ajax-popular-post-loading hidden"></div>
							<div id="halim-ajax-popular-post" class="popular-post">
								<div class="item post-37176" th:each="item,state : ${moviess}">
									<a th:href="@{'/details2/' + ${item.movieId}}" title="CHỊ MƯỜI BA: BA NGÀY SINH TỬ">
										<div class="item-link">
											<img
												th:src="${item.backdropPath}"
												class="lazy post-thumb" alt="CHỊ MƯỜI BA: BA NGÀY SINH TỬ"
												title="CHỊ MƯỜI BA: BA NGÀY SINH TỬ" /> <span
												class="is_trailer">Trailer</span>
										</div>
										<p class="title" th:text="${item.originalTitle}"></p>
									</a>
									<div class="viewsCount" style="color: #9d9d9d;">3.2K lượt
										xem</div>
									<div style="float: left;">
										<span class="user-rate-image post-large-rate stars-large-vang"
											style="display: block;"> <span style="width: 0%"></span>
										</span>
									</div>
								</div>
						
					
					
				


							</div>
						</div>
					</section>
					<div class="clearfix"></div>
				</div>
			</aside>
		</div>
	</div>
</body>
</html>