<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Spoken</title>
</head>
<body>
	<form action="/admin/spoken/edit" method="post" th:object="${spoken}">
		<input type="hidden" th:field="*{spolangId}"/>
		<div>
			<label>IOS 639 1</label>
			<input type="text" th:field="*{iso6391}"/>
		</div>
		<div>
			<label>English Name</label>
			<input type="text" th:field="*{englishName}"/>
		</div>
		<div>
			<label>Name</label>
			<input type="text" th:field="*{name}" />
		</div>
		
		<div>
			<button type="submit">Add spoken</button>
		</div>
	</form>
</body>
</html>