<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{quanly/layouts/layouts}">
  <head>
    <title>
      Thêm mới Phim
    </title>
  </head>
  <body>
    <div layout:fragment="content">
      <table class="table table-bordered table-hover table-responsive-sm">
        <thead>
          <th></th>

        </thead>
        <tbody>
          <!-- <td class="hidden" th:text="${item.movieId}"></td> -->
          <tr th:each="item, state :${listGenres}">
            <td th:text="${state.count}"></td>
      
            <td th:text="${item.name}"></td>
        


            <td><a th:href="@{/admin/editt/{id}(id= ${item.genreId})}"
                class="btn btn-primary">Detail</a></td>
            <td><a th:href="@{/admin/deletee/{id}(id= ${item.genreId})}"
                class="btn btn-danger">Delete</a></td>


          </tr>
        </tbody>
      </table>



    </div>
  </body>
</html>