<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{quanly/layouts/layouts}">
  <head>
    <title>
      Thêm Mới Công Ty
    </title>
  </head>
  <body>
    <div layout:fragment="content">

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <form method="post"
              action="/admin/adminproductioncompanys"
              th:object="${productionCompanys}"
              class="form-login">
              <h2 class="text-center text-dark"> Thêm Mới Công Ty</h2>
              <label class="form-lable text-dark">Thêm Mới Logo (URL tạm thời)
                <span class="text-danger">(*)</span> </label>
              <input type="text" class="form-control border border-dark ps-4"
                th:field="*{logoPath}"
                placeholder="Nhập Tên Thể Loại"/>
              <label class="form-lable text-dark">Thêm Mới Tên
                <span class="text-danger">(*)</span> </label>
              <input type="text" class="form-control border border-dark ps-4"
                th:field="*{name}"
                placeholder="Nhập Tên Thể Loại"/>
              <label class="form-lable text-dark">Thêm Mới Nước
                <span class="text-danger">(*)</span> </label>
              <input type="text" class="form-control border border-dark ps-4"
                th:field="*{originCountry}"
                placeholder="Nhập Tên Thể Loại"/>
              <div class="col-lg-4">
                <label class="text-dark form-lable">Chọn Thể Loại Phim <span
                    class="text-danger">(*)</span> </label>

                <select
                  class="form-select form-select-lg mb-3 border border-dark"
                  name="movieId">
                  <option selected>---Chon Tiêu Đề Phim---</option>
                  <option
                    th:object="${movieProductioncompanys}" 
                    th:each="data : ${listMovie}" th:value="${data.movieId}"
                    th:text="${data.originalTitle}"
                    th:selected="${data.movieId == movieProductioncompanys.movieId}"
                    ></option>
                </select>

              </div>
              <div class="text-center mt-5">
                <input type="submit" class="btn btn-success " value="Thêm
                  Mới"/>
              </div>

            </form>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>